@charset "UFT-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/._idroid.otf') format('opentype');
}

body {
    background-color: #82D9A0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: justify;
}

header {
    background-image: linear-gradient(to bottom, #39BF68, #1B5936);
    color: white;
}

nav > a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #ffffff;
    padding: 20px;
    width: 600px;
}

main > p {
    text-align: justify;
    text-indent: 40px;
}

main > div.video {
    background-color: #1B5936;
}

main > div > iframe {
    margin: 20px 40px
}

footer {
    background-color: #1B5936;
    text-align: center;
    color: white;
    padding: 10px;

}

footer > p {
    margin: 0px;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

h2 {
    background-image: linear-gradient(to right, #82d9a0b7, white);
}
